<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/jquery-ui/jquery-ui.css' />
  </head>
  <body>
    <%- include partials/header.ejs %>
    <h1><%= title %></h1>
    <p><%= user ? user.username + ", bienvenu sur " + title : "Bienvenu sur " + title %> </p>
    <%- include partials/tchat.ejs %>
  </body>
</html>
